<md-card>
<md-toolbar>
    <div class="md-toolbar-tools">         
        <md-button  aria-label="Close"
                    class="md-icon-button md-secondary"
                    ng-click="$ctrl.onClose()">
            <md-icon>close</md-icon>
        </md-button>
        <h2>
            Booking
        </h2>
        <span flex></span>
    </div>
</md-toolbar>
<form   novalidate
        ng-cloak
        class="form-padding">
    <div layout="column">
        <div layout-gt-sm="row">
            <event-search event-id="$ctrl.booking.EventId"
                          ng-if="!$ctrl.fixedEvent"> 
            </event-search>
        </div>

        <div layout-gt-sm="row">
            <act-search act-id="$ctrl.booking.ActId"
                        ng-if="!$ctrl.fixedAct">                
            </act-search>
        </div>

        <booking-status-select booking-status-id="$ctrl.booking.BookingStatusId">
        </booking-status-select>

        <div layout-gt-sm="row">
            <md-input-container>
                <label>Tech Specs</label>
                <textarea ng-model="$ctrl.booking.tech_specs">
                </textarea>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container>
                <label>Size of Act</label>
                <input type="number" ng-model="$ctrl.booking.size_of_act">
            </md-input-container>

            <md-input-container>
                <label>Size of Party</label>
                <input type="number" ng-model="$ctrl.booking.size_of_party">
            </md-input-container>
        </div>

        TODO: actApplication               
    </div>
</form>
</md-card>