<md-dialog aria-label="New Application">
    <md-dialog-content class="md-dialog-content">
        <form   novalidate
                ng-cloak>
            <div layout="column">
                <h2 class="md-title">Act</h2>

                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Act Name</label>
                        <input ng-model="$ctrl.act.name">
                    </md-input-container>

                    <md-input-container>
                        <label>Type</label>
                        <input ng-model="$ctrl.act.type">
                    </md-input-container>

                    <md-input-container>
                        <label>Town</label>
                        <input ng-model="$ctrl.act.town">
                    </md-input-container>
                </div>

                <h3 class="md-subhead">Details</h3>

                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Bio</label>
                        <textarea ng-model="$ctrl.act.bio">
                        </textarea>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Tech Specs</label>
                        <textarea ng-model="$ctrl.act.tech_specs">
                        </textarea>
                    </md-input-container>
                </div>                

                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Image</label>
                        <input ng-model="$ctrl.act.details.image">
                    </md-input-container>
                </div>

                <img ng-if="$ctrl.application.details.image" src="{{ $ctrl.application.details.image }}" />
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="$ctrl.save()">Save</md-button>
        <md-button ng-click="$ctrl.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>