<script type="text/ng-template" id="/acts-header.html">
  <th md-column md-order-by="name"><span>Name</span></th>
  <th md-column md-order-by="type"><span>Type</span></th>
  <th md-column md-order-by="town"><span>Town</span></th>
  <th md-column><span></span></th>
</script>

<script type="text/ng-template" id="/acts-cell.html">
  <td md-cell>{{ row.name }}</td>
  <td md-cell>{{ row.type }}</td>
  <td md-cell>{{ row.town }}</td> 
  <td md-cell> 
    <md-menu>
      <md-button aria-label="Act contact menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
        <md-icon md-menu-origin>phone</md-icon>
      </md-button>

      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-if="row.link" ng-href="{{ row.getWebsite() }}" target="_blank">
            <md-icon>link</md-icon> Website
          </md-button>
        </md-menu-item>
        
        <md-menu-item>
          <md-button ng-if="row.facebook" ng-href="{{ row.getFacebook() }}" target="_blank">
            <md-icon md-svg-icon="community:facebook"></md-icon> Facebook
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-if="row.twitter" ng-href="{{ row.getTwitter() }}" target="_blank">
            <md-icon md-svg-icon="community:twitter"></md-icon> Twitter
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </td>
</script>

<ep-table
  title="'Acts'"
  on-list="$ctrl.getActs(query)"
  on-create="$ctrl.edit($event)"
  header-template="'/acts-header.html'"
  cell-template="'/acts-cell.html'">
</ep-table>