<md-card>
    <img    ng-if="$ctrl.application.image"
            src="{{ $ctrl.application.image }}" 
            class="md-card-image" />

    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{ $ctrl.application.name }}</span>
            <span class="md-subhead">{{ $ctrl.application.createdAt | date: 'mediumDate' }} - {{ $ctrl.application.type }}, {{ $ctrl.application.town }}, {{ $ctrl.application.requested_fee }}</span>
            <p>{{ $ctrl.application.bio }}</p>
        </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-if="$ctrl.application.link" href="{{ $ctrl.application.link }}" target="_blank">
            <md-icon>link</md-icon> Website
        </md-button>
        <md-button ng-if="$ctrl.application.facebook" href="{{ $ctrl.application.facebook }}" target="_blank">
            <md-icon md-svg-icon="community:facebook"></md-icon> Facebook
        </md-button>
        <md-button ng-if="$ctrl.application.twitter" href="{{ $ctrl.application.twitter }}" target="_blank">
            <md-icon md-svg-icon="community:twitter"></md-icon> Twitter
        </md-button>
    </md-card-actions>
</md-card>

               

            

                 

        

                
        