<div layout="column">
    <div layout-gt-sm="row">
        <md-autocomplete flex required
            md-input-name="act-search"
            md-input-minlength="2"
            md-selected-item="$ctrl.act"
            md-search-text="$ctrl.searchText"
            md-items="act in $ctrl.search($ctrl.searchText)"
            md-item-text="act.name"
            md-require-match
            md-floating-label="Act"
            md-selected-item-change="$ctrl.actId = act.id">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText">{{ act.name }}</span>
          </md-item-template>
        </md-autocomplete>

        <md-button ng-click="$ctrl.edit($event)">
            <md-icon>add</md-icon>
            New
        </md-button>
    </div>
</div>
        