<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="!$ctrl.act.name">New Act</h2>
            <h2 ng-if="$ctrl.act.name">{{ $ctrl.act.name }}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <form   novalidate
            ng-cloak
            layout-padding>
        <div layout="column">              
            <md-input-container>
                <label>Act Name</label>
                <input ng-model="$ctrl.act.name">
            </md-input-container>

            <md-input-container>
                <label>Type</label>
                <input ng-model="$ctrl.act.type">
            </md-input-container>

            <md-input-container>
                <label>Town</label>
                <input ng-model="$ctrl.act.town">
            </md-input-container>

            <md-input-container>
                <label>Bio</label>
                <textarea ng-model="$ctrl.act.bio">
                </textarea>
            </md-input-container>

            <md-input-container>
                <label>Tech Specs</label>
                <textarea ng-model="$ctrl.act.tech_specs">
                </textarea>
            </md-input-container>
        </div>
    </form>
</md-card>

<bookings-editor
    bookings="$ctrl.act.bookings"
    act-id="$ctrl.act.id"
    event-id="$ctrl.eventId">            
</bookings-editor>

<contact-editor-form
    contact="$ctrl.webContact"
    mode="'web'"> 
</contact-editor-form>

<act-contacts-editor
    act-contacts="$ctrl.act.ActContacts"
    act-id="$ctrl.act.id">
</act-contacts-editor>