<div layout="column" class="app-container" ng-cloak>
  <md-button  hide-gt-sm
              aria-label="Menu" 
              class="md-fab md-menu-button fixed"
              ng-click="$ctrl.openSidenav()">                        
        <md-icon>&#xE5D2;</md-icon>    
  </md-button>

  <md-toolbar md-scroll-shrink hide-xs hide-sm>
    <div class="md-toolbar-tools">
      <h3>
        <span>Event Planner</span>
      </h3>

      <md-button ui-sref="root.home">
        Home
      </md-button>

      <md-button ui-sref="root.applications.summary">
        Applications
      </md-button>

      <md-button ui-sref="root.acts">
        Acts
      </md-button>

    
      <md-select  ng-model="$ctrl.selectedEvent"
                  ng-change="$ctrl.switchEvent()"
                  aria-label="Switch events"
                  class="md-no-underline">
                  
        <md-option ng-repeat="event in $ctrl.events" ng-value="event.id">
          {{ event.name }}
        </md-option>
      </md-select>

    </div>
  </md-toolbar>

  <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"        
    md-whiteframe="4">

    <md-toolbar>
      <h1 class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$ctrl.closeSidenav()">
          <md-icon>&#xE5D2;</md-icon>
        </md-button>
        <span class="toolbar-title">Event Planner</span>
      </h1>
    </md-toolbar>
    <md-content layout-padding layout="column">
      <md-button ui-sref="root.home" ng-click="$ctrl.closeSidenav()" class="md-raised md-primary md-hue-2">
        Home
      </md-button>
      <br/>
      <md-button ui-sref="root.applications.summary" ng-click="$ctrl.closeSidenav()" class="md-raised md-primary md-hue-2">
        Applications
      </md-button>
      <br/>
      <md-button ui-sref="root.acts" ng-click="$ctrl.closeSidenav()" class="md-raised md-primary md-hue-2">
        Acts
      </md-button>
      <br/>      
      <md-input-container>
        <label>Event</label>
        <md-select ng-model="ctrl.selectedEvent">
          <md-option><em>Choose an event</em></md-option>
          <md-option ng-repeat="event in $ctrl.events" ng-value="event.id">
            <a ui-sref="{{$ctrl.currentNavItem}}({ event: event.id })">{{ event.name }}</a>
          </md-option>
        </md-select>
      </md-input-container>
    </md-content>
  </md-sidenav>
  
  <md-content flex>
    <ui-view></ui-view>
  </md-content>
</div>