<md-card>
    <img    ng-if="$ctrl.act.getImage()"
            src="{{ $ctrl.act.getImage() }}" 
            class="md-card-image" />

    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{ $ctrl.act.name }}</span>
            <span class="md-subhead">{{ $ctrl.act.type }}, {{ $ctrl.act.town }}</span>
            <p>{{ $ctrl.act.bio }}</p>
        </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-if="$ctrl.act.getWebsite()" href="{{ $ctrl.act.getWebsite() }}" target="_blank">
            <md-icon aria-label="Website">link</md-icon>
        </md-button>
        <md-button ng-if="$ctrl.act.getFacebook()" href="{{ $ctrl.act.getFacebook() }}" target="_blank">
            <md-icon aria-label="Facebook" md-svg-icon="community:facebook"></md-icon>
        </md-button>
        <md-button ng-if="$ctrl.act.getTwitter()" href="{{ $ctrl.act.getTwitter() }}" target="_blank">
            <md-icon aria-label="Twitter" md-svg-icon="community:twitter"></md-icon>
        </md-button>
    </md-card-actions>
</md-card>

               

            

                 

        

                
        