<div layout="row" layout-align="start start">                
    <md-card flex="50">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Contacts</h2>
                <span flex></span>
                <md-button  class="md-icon-button md-fab md-secondary md-fab-top-right"
                            ng-click="$ctrl.edit()">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <ep-list    rows="$ctrl.actContacts"
                    on-edit="$ctrl.edit(row)"
                    on-favourite="$ctrl.makePrimary(row)"
                    list-item-template="'/act-contacts-list-item.html'">
        </ep-list>
    </md-card>

    <act-contact-editor-form    flex="50"
                                ng-if="$ctrl.editingActContact"
                                act-contact="$ctrl.editingActContact"
                                on-close="$ctrl.close()">
    </act-contact-editor-form>
</div>

<script type="text/ng-template" id="/act-contacts-list-item.html">
    <img src="/default_profile_photo.png"
         ng-if="!row.getImage()"
         class="md-avatar">

    <img ng-src="{{row.getImage()}}"
         ng-if="row.getImage()"
         class="md-avatar">

    <div class="md-list-item-text" layout="column">
        <h3>{{row.Contact.name}}, {{row.relationship}}</h3>            
        <p>            
            <md-icon class="micro-icon" ng-if="row.getPhone().phone">phone</md-icon>{{row.getPhone().phone}}
            <md-icon class="micro-icon" ng-if="row.getEmail().email">email</md-icon>{{row.getEmail().email}}
            &nbsp;
        </p>
    </div>

    <div class="md-secondary-container">
        <md-button  class="md-icon-button md-secondary"
                    ng-click="$ctrl.onFavorite({ row: row })"
                    ng-if="$ctrl.favorite">
            <md-icon>
                star_border
            </md-icon>
        </md-button>
        <md-button  class="md-icon-button md-secondary"
                    ng-click="$ctrl.onEdit({ row: row })"
                    ng-if="$ctrl.onEdit">
            <md-icon>
                edit
            </md-icon>
        </md-button>
        <md-button class="md-icon-button md-secondary">          
            <md-icon ng-click="$ctrl.remove($event, row)">
                remove
            </md-icon> 
        </md-button>
    </div>
</script>