<md-table-container>
    <!-- image
    
    
    size_of_act
    size_of_party
    requested_fee

    contact_name
    email
    phone
    link
    facebook
    twitter

    party_names
    bio
    tech_specs-->

  <table md-table>
    <thead md-head md-row-select multiple ng-model="$ctrl.selectedApplications" md-progress="$ctrl.loading" md-order="$ctrl.query.order" md-on-reorder="$ctrl.getApplicationsBound">
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Name</span></th>
        <th md-column md-order-by="type"><span>Type</span></th>
        <th md-column md-order-by="town"><span>Town</span></th>
        <th md-column md-numeric md-order-by="size_of_party"><span>Size</span></th>
        <th md-column md-order-by="requested_fee"><span>Fee Request</span></th>
        <th md-column md-order-by="contact_name"><span>Contact</span></th>
        <th md-column><span></span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="application" md-select-id="id" md-auto-select ng-repeat="application in $ctrl.applications | orderBy: $ctrl.query.order">
        <td md-cell>{{application.name}}</td>
        <td md-cell>{{application.type}}</td>
        <td md-cell>{{application.town}}</td>
        <td md-cell>{{application.size_of_act}}/{{application.size_of_party}}</td>
        <td md-cell>{{application.requested_fee}}</td>
        <td md-cell>{{application.contact_name}}</td>
        <td md-cell> 
          <md-select ng-model="dessert.type" placeholder="Other">
            <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
          </md-select>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="$ctrl.query.limit" md-page="$ctrl.query.page" md-total="{{$ctrl.applicationCount}}" md-on-paginate="$ctrl.getApplicationsBound" md-page-select></md-table-pagination>