<md-card>
<md-toolbar>
    <div class="md-toolbar-tools">         
        <md-button  aria-label="Close"
                class="md-icon-button md-secondary"
                ng-click="$ctrl.onClose()">
            <md-icon>close</md-icon>
        </md-button>
        <h2>Contact</h2>
        <span flex></span>

        <md-fab-speed-dial  md-direction="down"
                            class="md-scale md-fab-top-right">
            
            <md-fab-trigger>
                <md-button  aria-label="Add a contact detail"
                            class="md-icon-button md-fab md-secondary"
                            ng-click="$ctrl.edit($event)">
                    <md-icon>add</md-icon>
                </md-button>    
            </md-fab-trigger>

            <md-fab-actions>
                <md-button  aria-label="Add phone number"
                            class="md-fab md-raised md-mini"
                            ng-click="$ctrl.add('phones')">
                    <md-icon>phone</md-icon>
                </md-button>
                <md-button  aria-label="Add address"
                            class="md-fab md-raised md-mini"
                            ng-click="$ctrl.add('addresses')">
                    <md-icon>home</md-icon>
                </md-button>
                <md-button  aria-label="Add email address"
                            class="md-fab md-raised md-mini"
                            ng-click="$ctrl.add('emails')">
                    <md-icon>email</md-icon>
                </md-button>
                <md-button  aria-label="Add website"
                            class="md-fab md-raised md-mini"
                            ng-click="$ctrl.add('websites')">
                    <md-icon>web</md-icon>
                </md-button>    
                <md-button  aria-label="Add image"
                            class="md-fab md-raised md-mini"
                            ng-click="$ctrl.add('images')">
                    <md-icon>photo_camera</md-icon>                    
                </md-button>
            </md-fab-actions>            
        </md-fab-speed-dial>
    
    </div>
</md-toolbar>

<form novalidate ng-cloak layout="column" class="form-padding">
    <md-input-container class="md-block" flex>
        <label>Name</label>
        <md-icon>person</md-icon>
        <input ng-model="$ctrl.contact.name">
    </md-input-container>

    <div layout="row" ng-repeat="phone in $ctrl.contact.details.phones">
        <md-input-container class="md-block"
                            ng-class="{ 'first-condensed': $first, 'middle-condensed': $middle, 'last-condensed': $last && !$first }"
                            flex>
            <label>Phone</label>
            <md-icon>phone</md-icon>
            <input ng-model="phone.phone">            
        </md-input-container>

        <md-button class="md-icon-button"
                   style="display:inline"
                   ng-if="!$first"
                   ng-click="$ctrl.remove('phones', phone)">
            <md-icon>remove</md-icon>
        </md-button>
    </div>

    <div layout="row" ng-repeat="address in $ctrl.contact.details.addresses">    
        <md-input-container class="md-block"
                            ng-class="{ 'first-condensed': $first, 'middle-condensed': $middle, 'last-condensed': $last && !$first }"
                            flex="50">
            <label>Address</label>
            <md-icon>home</md-icon>
            <input ng-model="address.address">
        </md-input-container>

        <md-input-container class="md-block"
                            ng-class="{ 'first-condensed': $first, 'middle-condensed': $middle, 'last-condensed': $last && !$first }"
                            flex="30">
            <label>Town</label>
            <input ng-model="address.town">
        </md-input-container>

        <md-input-container class="md-block"
                            ng-class="{ 'first-condensed': $first, 'middle-condensed': $middle, 'last-condensed': $last && !$first }"
                            flex="20">
            <label>Postcode</label>
            <input ng-model="address.postcode">
        </md-input-container>

        <md-button  class="md-icon-button"
                    style="display:inline"
                    ng-if="!$first"
                    ng-click="$ctrl.remove('addresses', address)">
            <md-icon>remove</md-icon>
        </md-button>
    </div>

    <div layout="row" ng-repeat="email in $ctrl.contact.details.emails">
        <md-input-container class="md-block"
                            ng-class="{ 'first-condensed': $first, 'middle-condensed': $middle, 'last-condensed': $last && !$first }"
                            flex>
            <label>Email</label>
            <md-icon>email</md-icon>
            <input  ng-model="email.email"
                    type="email">    
        </md-input-container>    

        <md-button  class="md-icon-button"
                    style="display:inline"
                    ng-if="!$first"
                    ng-click="$ctrl.remove('emails', email)">
            <md-icon>remove</md-icon>
        </md-button>
    </div>

    <div layout="row" ng-repeat="website in $ctrl.contact.details.websites">
        <md-input-container class="md-block"
                            ng-class="{ 'first-condensed': $first, 'middle-condensed': $middle, 'last-condensed': $last && !$first }"
                            flex>
            <label>Website</label>
            <md-icon>web</md-icon>
            <input ng-model="website.url">
        </md-input-container>

        <md-button  class="md-icon-button"
                    style="display:inline"
                    ng-if="!$first"
                    ng-click="$ctrl.remove('websites', website)">
            <md-icon>remove</md-icon>
        </md-button>
    </div>

    <div layout="row" ng-repeat="image in $ctrl.contact.details.images">
        <md-input-container class="md-block"
                            ng-class="{ 'first-condensed': $first, 'middle-condensed': $middle, 'last-condensed': $last && !$first }"
                            flex>
            <label>Image</label>
            <md-icon>photo_camera</md-icon>
            <input ng-model="image.image">        
        </md-input-container>

        <md-button  class="md-icon-button"
                    style="display:inline"
                    ng-if="!$first"
                    ng-click="$ctrl.remove('images', image)">
            <md-icon>remove</md-icon>
        </md-button>
    </div>
</form>
</md-card>